RewriteEngine On
RewriteBase /pelaporan_peta/

# Redirect /pelaporan_peta/beranda ke /pelaporan_peta/views/beranda.php
RewriteRule ^beranda$ views/beranda.php [L]

# Redirect /pelaporan_peta/login to /pelaporan_peta/views/login.php
RewriteRule ^login$ views/login.php [L]

# Redirect /pelaporan_peta to /pelaporan_peta/views/login.php (if no specific page is given)
RewriteRule ^$ views/login.php [L]

# Blokir akses langsung ke file PHP dalam folder views
# <Files *.php>
#    RewriteEngine On
#    RewriteCond %{THE_REQUEST} /views/ [NC]
#    RewriteRule ^ - [F,L]
# </Files>
